<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

	<body>
		<header>
			<nav class="college-nav">
				<ul class="nav nav-pills first-nav">
					<li>
						<a th:href="@{'index'}" >
							<img th:src="@{'common/images/2.png'}" height="30px" title="砺锋共创学院" />
						</a>
					</li>
				</ul>
				<ul class="nav nav-pills second-nav">
					<!--去往登录页面-->
					<li>
						<a th:href="@{'login'}">登录</a>
					</li>
					<!--去往注册页面-->
					<li>
						<a th:href="@{'regist'}">注册</a>
					</li>
					<!--去往共创工具页面-->
					<li>
						<a href="@{'tool'}" tietle="共创工具">共创工具</a>
					</li>
					<!--去往共创区页面-->
					<li>
						<a href="javascript:;" tietle="共创区">共创区</a>
					</li>
				</ul>
			</nav>
		</header>
	</body>

</html>