<script th:src="@{'/common/js/jquery-3.3.1.min.js'}" type="text/javascript" charset="utf-8">
</script>
<script th:src="@{'/frame/bootstrap-3.3.7-dist/js/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{'/common/js/jquery.vticker.min.js'}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{'/frame/layer/layer.js'}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{'/common/js/front/header.js'}" type="text/javascript" charset="utf-8"></script>
<!--开发环境版本-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--生产环境版本-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->