<h2>
	SEEHOPE 砺锋众创 &nbsp;
	<small>产品创新的共享设计平台</small>
</h2>
<h4 class="footer-about">
	<span><a href="/about_us" target="_blank">关于砺锋</a></span>
	<span>|</span>
	<span><a href="http://www.u-cto.com/" target="_blank">众创学院</a></span>
	<span>|</span>
	<span><a href="http://www.codeseeding.com/" target="_blank">码云社</a></span>
	<span>|</span>
	<span><a href="https://www.seehope.net/" target="_blank">砺锋科技</a></span>
</h4>
<h4 class="footer-refus">
	<span>7S服务</span>
	<span>砺锋活动</span>
	<span>砺锋学院</span>
	<span>砺锋孵化</span>
</h4>
<h6 class="footer-ba">@ 2018 - 2019 砺锋信息科技有限公司 版权所有 | 粤ICP备16114193号-1</h6>
<div class="footer-z">
	<h6>免费咨询热线</h6>
	<h2>189-2221-5302</h2>
	<h2>189-2221-2502</h2>
    <!-- <h6>&nbsp;&nbsp;&nbsp;( 周一至周日 9：00 - 12：00 )</h6> -->
</div>
