<h2>
	LIFENG 砺锋众创 &nbsp;
	<small>产品创新的共享设计平台</small>
</h2>
<h4 class="footer-about">
	<span>关于砺锋</span>
	<span>|</span>
	<span>发展历程</span>
	<span>|</span>
	<span>联系我们</span>
	<span>|</span>
	<span>服务规则</span>
</h4>
<h4 class="footer-refus">
	<span>7S服务</span>
	<span>砺锋活动</span>
	<span>砺锋学院</span>
	<span>砺锋孵化</span>
</h4>
<h6 class="footer-ba">@ 2018 - 2019 砺锋信息科技有限公司 版权所有 | 粤ICP备16114193号-1</h6>
<div class="footer-z">
	<h6>免费咨询热线</h6>
	<h2>181-1651-1211</h2>
	<h6>(周一至周日 9：00 - 12：00)</h6>
</div>
