.top {
    padding: 150px 530px;
    text-align: center;
    line-height: 7.5em;
    width: 100%;
    background-image: url(../../images/fm.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 480px;
    color: white;
    background-repeat: no-repeat;

}

.fix-top {
    border-bottom: 2px solid #cccccc;
}

a:hover {
    text-shadow: none;
    text-decoration: none !important;
}

.service-7s {
    position: relative;
    background-image: url(../../images/part1-con-div-bg.jpg);
    background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 900px;
    margin: auto;
    min-width: 900px;
    background-repeat: no-repeat;
    height: 646px;
    font-size: 11px;
}

label {
    color: #d5f0fb;
}

.service-7s h5 {
    color: red;
}

.service-7s div {
    width: 350px;
    position: absolute;
}

.service-s1 {
    top: 383px;
    left: -3%;
    text-align: right;
}

.service-s2 {
    top: 174px;
    left: -9%;
    text-align: right;
}

.service-s3 {
    left: 69%;
    top: 120px;
}

.service-s4 {
    left: 69%;
    top: 243px;
}

.service-s5 {
    left: -1%;
    text-align: right;
    top: 68px;
}

.service-s6 {
    left: 65%;
    top: 358px;
}

.service-s7 {
    left: -7%;
    text-align: right;
    top: 281px;
}

.success {
    color: #4d4c4c;
    font-weight: bold;
    background-image: url(../../images/time.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 1100px;
    min-width: 900px;
    margin: auto;
    height: 640px;
}

.success div {
    position: relative;

}

.success div img {
    width: 250px;
    border-radius: 15px;
    /* position: absolute; */
}

.s1 {
    top: 80px;
    left: 0;
}
.s2 {
    top: 10px;
    left: 75%;
}

.s3 {
    top: -10px;
    left: 1%;
}

h3.tietle {
    padding: 15px 10px;
    width: 264px;
    border-left: 5px solid #2554ad;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

#FontScroll {
    font-size: 18px;
    border-radius: 15px;
    width: 1100px;
    height: 270px;
    margin: auto;
    background-color: #ffffff7a;
    line-height: 30px;
    overflow: Hidden;
    padding: 5px 0;
    /* border: 10px solid #fb1d1d0f; */
    border-top: 10px solid;
    padding: 61px;
    padding-left: 61px;
    border-radius: 7px;
}

#FontScroll a {
    color: black;
    text-decoration: none;
}

#FontScroll .line {
    text-align: left;
    font-size: 20px;
    width: 100%;
}

#FontScroll .fontColor a {
    color: rgba(0, 0, 0, 0.84);
    transition: all 1.5s ease 0s;
}

#FontScroll {
    padding-left: 10px
}

footer {
    margin-top: 0px;
}

.college-footer {
    margin-top: 100px;
}