/* 头部样式 */
a, a:hover, a:link, a:active, a:visited, a:focus {
    text-decoration: none;
}

.college-footer a, .college-footer a:hover, .college-footer a:link, .college-footer a:active, .college-footer a:visited, .college-footer a:focus {
    color: #CCBEB0;
}

a:focus {
    outline: none !important;
    outline-offset: -2px !important;
    text-decoration: none !important;
}

.college-nav {
    min-width: 1200px;
    width: 100%;
    background-color: white;
    height: 80px;
    position: relative;
    font-size: 15px;
}

.new-collegenav {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 20px white;
    font-size: 14px;
}

.header-image {
    position: absolute;
    top: 25px;
    left: 50px;
}

.new-headerimage {
    position: absolute;
    left: 50px;
    top: 10px;
}

.new-headerimage > a > img {
    height: 30px;
}

.new-headernav {
    position: absolute;
    top: 15px;
    left: 80px;
}

.new-headerloginregist {
    position: absolute;
    right: 50px;
    top: 15px;
}

.college-nav li {
    list-style: none;
    float: left;
}

.header-nav {
    position: absolute;
    top: 30px;
    left: 80px;
}

.header-nav li {
    margin-right: 30px;
}

.new-headernav li {
    margin-right: 30px;
}

.header-loginregist {
    position: absolute;
    top: 30px;
    right: 50px;
}

.new-headerloginregist li {
    margin-left: 15px;
    margin-right: 15px;
}

.header-loginregist li {
    margin-left: 15px;
    margin-right: 15px;
}

/* footer底部样式 */
.college-footer {
    height: 240px;
    min-width: 1200px;
    width: 100%;
    margin-top: 600px;
    position: relative;
    background: #1C1C1C;
    color: #CCBEB0;
    padding: 50px 125px;
    cursor: pointer;
}

.footer-about {
    margin-top: 35px;
    padding-bottom: 35px;
    font-size: 15px;
}

.footer-about > span {
    margin-right: 60px;
}

.footer-refus {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    font-size: 15px;
}

.footer-refus > span {
    padding-right: 50px;
    padding-left: 50px;
}

.footer-ba {
    text-align: center;
    margin-top: 20px;
}

.footer-z {
    position: absolute;
    top: 50px;
    right: 125px;
}

.footer-z > h2 {
    margin-top: 2px;
}

.footer-z > h6 {
    font-size: 14px;
}

.downmenu {
    padding: 0px;
    width: 150px;
    z-index: 3;
    text-align: center;
    left: 60px !important;
    right: auto;
    /* padding: 5px 20px; */
    line-height: 2em;
    border-radius: 0px 0px 5px 5px;
    bottom: auto;
    display: inline-grid;
    background-color: #ffffff;
    position: absolute;
    border: 1px solid #0000002e;
    border-top: none;
}

.downmenu-down {
    top: 49.8px !important;
}

.downmenu-fix {
    top: 35.8px !important;
}

.downmenu li {
    font-size: 12px;
    margin: 0px;
    padding: 5px 35px;
    border-bottom: 1px solid #7d7d7d66;
}

.downmenu li:hover {
    background-color: #cbcbcb8a;
}

.arrow {
    display: none;
}

.user-photo {
    width: 32px;
    border-radius: 45px;
}