.header2 {
	background-color: white;
	max-height: 62px;
	height: 62px;
	position: relative;
	top: 0px;
	width: 100vw;
	z-index: 999;
}

header {
	overflow: hidden;
}

.navbar-default .navbar-nav>li>a {
	color: #1768e7;
}

.navbar-nav>li>a {
	padding-bottom: 12px;
}

@keyframes downmouse {
	from {
		top: 0;
	}
	to {
		top: -300px;
	}
}

@keyframes upmouse {
	to {
		top: 0;
	}
}

/*nav {*/
	/*column-rule: ;*/
	/*#1768 e7;*/
/*}*/