body {
	background-color: #F0F0F0;
}

.loginPanel {
	position: relative;
	width: 500px;
	margin: 0 auto;
	top: 70px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 15px;
	background-color: white;
	box-shadow: #cccccc 2px 2px;
}

.panel-login {
	text-align: right;
}

.panel-fenge {
	text-align: center;
}

.loginPanel a {
	text-decoration: none;
	font-family: '楷体';
	font-size: 20px;
	color: black;
}

.panel-title {
	text-align: center;
	margin-top: 60px;
}

.loginPanel .row {
	padding-top: 20px;
}

.panel-login a {
	border-bottom: 2px solid #F30;
	padding-bottom: 5px;
	color: #1768e7;
}

.login-F {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
}

#loginF-findP {
	text-align: right;
	font-size: 16px;
}

#loginF-findP a {
	color: #999999;
}

.login-F .col-sm-5 {
	padding-left: 0px;
}

.login-F .col-sm-5 input {
	padding-left: 15px;
}

.xq {
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	color: #999999;
}

.message {
	color: #F30;
	font-family: '楷体';
	font-size: 16px; 
}

