.flow_tietle {
	background-image: url(static/common/images/50.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	background-size: auto;
	padding: 50px 0px;
	margin-bottom: 4em
}

.a_flow .flow_index, .pay_tietle {
	text-align: center;
}

.flow_img {
	width: 610px;
	margin: auto;
}

.box {
	height: 400px;
	width: 110rem;
	margin: auto;
}

.box div {
	float: left;
	margin-left: 30px
}

.b_flow li {
	margin-top:10px;
	line-height: 2em;
	color: #CCCCCC;
}

.pay {
	color: #1768e7;
	width: 110rem;
	margin: auto;
	height: auto;
	min-height:600px;
}

.pay_tietle {
	font-weight: bold; text-align : center;
	margin-bottom: 50px;
	line-height: 2em;
	text-align: center;
}

.pay_tietle li {
	list-style: none;
	margin-bottom: 2em;
}

.pay_border {
	background-color: rgba(23, 104, 231, .05);
	width: 350px;
	min-width: 350px;
	padding: 80px;
	float:left;
	margin: 2rem 10rem;
}

.pay_border:hover {
	border: 1px solid blue;
	background-color: rgba(0, 0, 0, 0);
	padding: 79px;
}

.button {
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 125px;
	border: 2px solid #1768e7;
	padding: 10px;
}

.button:hover {
	background-color: #1768e7;
	color: white;
}
