/* 导航条样式 */

.nav {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
}

body {
	background-color: #f0f0f0;
}


/* .nav a{
	color:black;
} */


/* .first-nav {
	position: relative;
	top: -8px;
}

.second-nav {
	float: right;
}
 */

.left_art {
	float: left;
	width: 25%;
	padding: 10px;
	height: 600px;
	overflow-y: scroll;
	width: 25%;
}

.left_top {
	height: 18%;
	font-size: 1.5vw;
	font-weight: bold;
	border-bottom: solid 1px #AFAFAF;
	padding: 15%;
	text-align: center;
}

.left_tietle {
	margin-top: 15px;
	height: 1%;
	padding: 7%;
	text-align: center;
	text-decoration: none;
	padding: 5.5%	 0px;
	font-size: 1vw;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

section {
	padding: 0px 12%;
}

.right_art {
	margin-bottom:2%;
	width: 70%;
	padding: 50px;
	float: left;
	background-color: white;
	border-radius: 0px 15px;
	box-shadow: 10px 10px 15px #ccc;
	min-height: 600px;
}

.icon {
	margin: 10px 40px !important;
}

.right_art img {
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #C0C0C0;
}


/*图片放大基本样式*/