<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>砺锋众创--注册</title>
		<!-- title 图标 -->
		<link rel="shortcut icon" type="text/css" th:href="@{'title2.ico'}" />
		<!-- 字体图标 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/font-awesome-4.7.0/css/font-awesome.min.css'}" />
		<!-- 全站统一样式表 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/main.css'}" />
		<!-- layer弹出层 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/layer/theme/default/layer.css'}" />
		<!-- bookstrap核心样式 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/bootstrap-3.3.7-dist/css/bootstrap.min.css'}" />
		<!-- swiper轮播样式文件 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" />
		<!-- 头部header样式 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/header.css'}" />
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/login-regist/regist.css'}" />
	</head>
	<body>
        <!-- 头部导航条开始 -->
		<header class="rgist-header" th:include="front/common/header"></header>
		<!-- 头部导航条结束 -->
        <!-- 底部开始 -->
        <footer class="college-footer" th:include="front/common/footer"></footer>
        <!-- 底部结束 -->
	</body>

	<script th:src="@{'/common/js/jquery-3.3.1.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/frame/layer/layer.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/common/js/front/header.js'}" type="text/javascript" charset="utf-8"></script>
</html>
