<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>砺锋众创--关于我们</title>
		<!-- title 图标 -->
		<link rel="shortcut icon" type="text/css" th:href="@{'title2.ico'}" />
		<!-- 头部header样式 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/header.css'}">
		<!-- 全站统一样式表 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/main.css'}" />
		<!-- bookstrap核心样式 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/bootstrap-3.3.7-dist/css/bootstrap.min.css'}" />
		<!-- layer弹出层 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/layer/theme/default/layer.css'}" />
		<!-- swiper轮播样式文件 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs	/Swiper/3.4.2/css/swiper.min.css">
		<!-- 字体图标 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/frame/font-awesome-4.7.0/css/font-awesome.min.css'}" />
		<!-- 本页面样式表 -->
		<link rel="stylesheet" type="text/css" th:href="@{'/common/css/front/about-us.css'}" />
	</head>

	<body>
		<!--头部导航条开始-->
		<header class="college-header" th:include="front/common/header"></header>
		<!--砺锋介绍-->
		<article class="seehope-description">
			<section>
				<img class="sd-img" th:src="@{'/common/images/p3.jpg'}" title="砺锋众创" alt="砺锋众创" />
			</section>
		</article>
		<!-- 砺锋介绍结束 -->
		<!-- 核心价值开始 -->
		<article>
			<h2 class="core-value">7S服务</h2>
			<hr class="core-dec" />
			<section>
				<!--轮播内容开始-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img th:src="@{'common/images/price1.png'}" />
							<h4>高薪就业</h4>
							<div>主要是为入驻创客团队、个人、企业提供高薪就业的安排，入职起薪不低于6000元，减少大学生创业的风险，解决他们的后顾之忧</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price2.png'}" />
							<h4> 三方服务</h4>
							<div>法律咨询 政策申请 知识产权与专利论文 人力与技术支撑</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price3.png'}" />
							<h4> 创新技能</h4>
							<div>从Java大数据、Python、前端、物联网、VR、人工智能等技术的培训到前沿技术论坛，让创客的梦想走进现实。</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price4.png'}" />
							<h4>工商注册</h4>
							<div>工作空间 社交空间 资源空间 数字空间 工商注册</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price1.png'}" />
							<h4>创业辅导</h4>
							<div>风口解读 创新孵化 高效协同 开源设计</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price2.png'}" />
							<h4>商业模式</h4>
							<div>市场咨询 管理咨询 精益创业 制度设计</div>
						</div>
						<div class="swiper-slide">
							<img th:src="@{'common/images/price3.png'}" />
							<h4>融资对接</h4>
							<div>为需要融资的企业量身分析，推荐适合的投资人，经审核符合资格的进驻企业，为其提供项目北书，对进驻的优秀企业，提供创投资金及项目人力、管理经验、资源的优先扶持。 鼓励优秀创客团队与项目参加国家、省市级创新创业大赛。</div>
						</div>

					</div>
					<!-- 如果需要导航按钮 -->
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<!--轮播内容介绍-->
			</section>
		</article>
		<!-- 核心价值结束 -->

		<!-- 创客导师开始 -->
		<article class="seehope-teacher">
			<h2>创客导师<small> &nbsp;&nbsp;优秀创客导师坐镇 优秀创客导师可指定咨询</small></h2>
			<section class="teacher-detail">
				<div class="teacher-item col-xs-2">
					<img alt="" th:src="@{'/common/images/seehopet2.jpg'}">
					<div class="item-detail">
						<p>李国华</p>
						<p>著名创客导师</p>
					</div>
				</div>
				<div class="teacher-item col-xs-2">
					<img alt="" th:src="@{'/common/images/seehopet3.jpg'}">
					<div class="item-detail">
						<p>吴罗</p>
						<p>著名创客导师</p>
					</div>
				</div>
				<div class="teacher-item col-xs-2">
					<img alt="" th:src="@{'/common/images/seehopet4.jpg'}">
					<div class="item-detail">
						<p>林丽静</p>
						<p>先锋创客导师</p>
					</div>
				</div>
				<div class="teacher-item col-xs-2">
					<img alt="" th:src="@{'/common/images/seehopet5.jpg'}">
					<div class="item-detail">
						<p>江城</p>
						<p>著名创客导师</p>
					</div>
				</div>
				<div class="teacher-item col-xs-2">
					<img alt="" th:src="@{'/common/images/seehopet1.jpg'}">
					<div class="item-detail">
						<p>陈立为</p>
						<p>著名创客导师</p>
					</div>
				</div>
			</section>
			<section class="teracher-more">
				<div class="row">
					<div class="col-xs-2 more-item">就业导师</div>
					<div class="col-xs-2 more-item">律政导师</div>
					<div class="col-xs-2 more-item">融资导师</div>
					<div class="col-xs-2 more-item">创新导师</div>
					<div class="col-xs-2 more-item">商业导师</div>
					<div class="col-xs-2 more-item">创业导师</div>
				</div>
				<div class="row more-detail">
					<div class="col-xs-4">
						<img th:src="@{'/common/images/daju.jpg'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">大菊导师</p>
						<p class="more-zc">就业导师
						   <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
					<div class="col-xs-4">
						<img th:src="@{'/common/images/kaoyu.jpg'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">烤鱼导师</p>
						<p class="more-zc">律政导师
						   <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
					<div class="col-xs-4">
						<img th:src="@{'/common/images/xiaozeng.jpg'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">曾导师</p>
						<p class="more-zc">融资导师
						    <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
					<div class="col-xs-4">
						<img th:src="@{'/common/images/xiaoyu.jpg'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">小鱼导师</p>
						<p class="more-zc">商业导师
						    <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
					<div class="col-xs-4">
						<img th:src="@{'/common/images/feilong.jpg'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">刘导师</p>
						<p class="more-zc">就业导师
						   <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
					<div class="col-xs-4">
						<img th:src="@{'/common/images/shuanglin.png'}">
						<div class="more-btn">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>指定咨询TA</span>
						</div>
						<p class="more-name">程导师</p>
						<p class="more-zc">就业导师
						   <span class="more-love">
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						      <i class="fa fa-heart-o" aria-hidden="true"></i>
						   </span>
						</p>
						<p class="more-sc">
							<span>服务腾讯</span><span>擅长就业指导</span>
						</p>
					</div>
				</div>
			</section>
		</article>
		<!-- 创客导师结束 -->
		<!-- 荣誉开始 -->
		<article class="co-operatives">
		    <h2>荣誉赛事</h2>
		    <p>用成绩和奖项说话,10年优秀经验为您铺路</p>
		    <section>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang2.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang3.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang4.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang5.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang6.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang7.png'}">
		        </div>
		        <div class="col-xs-2">
		            <img alt="" th:src="@{'/common/images/jiang8.png'}">
		        </div>
		        <div class="col-xs-2">
		             <img alt="" th:src="@{'/common/images/jiang9.png'}">
		        </div>
		        <div class="col-xs-2">
		             <img alt="" th:src="@{'/common/images/jiang10.png'}">
		        </div>
		    </section>
		</article>
		<!-- 荣誉结束 -->
		<article class="seehope-teams">
		    <h2>入住企业</h2>
		    <p>砺锋众创--创业团队的信赖</p>
		    <section>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp1.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp2.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp3.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp4.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp5.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp6.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp7.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp8.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp9.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp10.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp11.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp12.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp13.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp14.png'}">
		       </div>
		       <div class="col-xs-2">
		          <img alt="" th:src="@{'/common/images/cp15.png'}">
		       </div>
		    </section>
		</article>
		<div style="margin-top: 5px;clear: both;"></div>

		<!-- 底部开始 -->
		<footer class="college-footer" th:include="front/common/footer"></footer>
		<!-- 底部结束 -->
	</body>

	<script th:src="@{'/common/js/jquery-3.3.1.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/frame/bootstrap-3.3.7-dist/js/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/frame/layer/layer.js'}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{'/common/js/front/header.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script th:src="@{'/common/js/about-us.js'}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function() {
			var mySwiper = new Swiper('.swiper-container', {
				// 如果需要前进后退按钮
				loop: true,
				slidesPerView: 'auto',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev'
			})
		});
	</script>

</html>