<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<!--公共部分 head 部分-->
	<div th:replace="front/common/_meta-link :: html"></div>
	<head>
		<meta charset="UTF-8">
		<title>砺锋众创</title>
		<link rel="stylesheet" type="text/css" th:href="@{'common/css/front/home.css'}">
	</head>
	<body style="background: white">
		<!--头部导航条开始-->
		<div th:replace="front/common/header :: html"></div>
		<!--头部导航条结束-->
		<!--主体内容开始-->
		<section>
			<!--活动轮播内容开始-->
			<article id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						<img class="carousel-img" th:src="@{'common/images/1.png'}" alt="First slide" style="height: 465px">
					</div>
					<div class="item">
						<img class="carousel-img" th:src="@{'common/images/2.png'}" alt="Second slide" style="height: 465px">
					</div>
					<div class="item">
						<img class="carousel-img" th:src="@{'common/images/3.jpg'}" alt="third slide" style="height: 465px">
					</div>
					<div class="item">
						<img class="carousel-img" th:src="@{'common/images/4.jpg'}" alt="third slide" style="height: 465px">
					</div>
				</div>
				<div class="access-task">已有14862名创客接取外包任务&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;<span
					 class="task-a"><a style="color: #50cf78;text-decoration: none;" href="#">我要接任务</a></span></div>
				<div class="middle-sep">/</div>
				<div class="join-teams">已有2424568名加入创客&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp;<span
					 class="teams-a"><a style="color: #50cf78;text-decoration: none;" href="#">我要加入众创</a></span></div>
			</article>
		</section>
		<!--活动轮播内容结束-->

		<!--众筹项目开始-->
		<section class="project-investment">
			<h2>项目众筹成功案例</h2>
			<h4 class="pj-ms">
				10年项目众筹经验保证项目的成功实施
				<span class="find-more"><a href="javascript:;">查看跟多&nbsp;<i class="fa fa-share" aria-hidden="true"></i></a></span>
			</h4>
			<article>
				<!--众筹分类开始-->
				<div class="project-type">
					<div class="lx-3 type-item">
						<a href="#" style="text-decoration: none">
							<div class="project-ued">
								<img th:src="@{'common/images/t4.jpg'}">
							</div>
							<h4>互联网技术</h4>
							<h6>华东ADAS企业异军突起，博世“本土化”开发遭威胁？华东ADAS企业异军突起，博世“本土化”开发遭威胁？
								华东ADAS企业异军突起，博世“本土化”开发遭威胁？华东ADAS企业异军突起，博世“本土化”开发遭威胁？
							</h6>
						</a>
					</div>
					<div class="lx-3 type-item">
						<a href="#" style="text-decoration: none">
							<div class="project-ai">
								<img th:src="@{'common/images/t2.jpg'}">
							</div>
							<h4>人工智能</h4>
							<h6>首发丨声智科技完成2亿元B轮融资，毅达资本领投，首发丨声智科技完成2亿元B轮融资，毅达资本领投</h6>
						</a>
					</div>
					<div class="lx-3 type-item">
						<a href="#" style="text-decoration: none">
							<div class="project-life">
								<img th:src="@{'common/images/t3.jpg'}">
							</div>
							<h4>生活家居</h4>
							<h6>卫健委马丽平：中国医疗质量管理发展现状，卫健委马丽平：中国医疗质量管理发展现状</h6>
						</a>
					</div>
					<div class="lx-3 type-item">
						<a href="#" style="text-decoration: none">
							<div class="project-logo">
								<img th:src="@{'common/images/t4.jpg'}">
							</div>
							<h4>品牌设计</h4>
							<h6>经济寒冬，陶瓷企业要如何活下去？济寒冬，陶瓷企业要如何活下去？</h6>
						</a>
					</div>
				</div>
				<!--众筹分类结束-->
			</article>
		</section>
		<section class="spell">
			<h4>砺锋众创为有梦想的创客们提供更加辽阔的展翅空间</h4>
			<button class="join-investment">参与众筹</button>
		</section>
		<!--众筹项目结束-->
		<!--项目众包开始-->
		<section class="project-teams">
			<h3>项目众包<small>新颖的创意，梦的开始</small></h3>
			<article class="prjt-carousel prjt-item">
				<h2>新颖需求</h2>
				<canvas width="280" height="260" id="myCanvas" style="max-width: 280px;max-height: 260px"></canvas>
				<div id="tags">
					<a href="http://www.baidu.com">小程序</a>
					<a href="#">公众号</a><a href="#">人工智能</a><a href="#">App开发</a><a href="#">网页设计</a>
					<a href="#">官网开发</a><a href="#">智慧家居</a><a href="#">情感</a><a href="#">体验</a><a href="#">互联网</a>
				</div>
				<div class="prjt-more">查看更多&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/interface.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/xiaochegnxu.png'}">
				<h4 title="【联想】知识QA社区功能开发(PHP)">【联想】知识QA社区功能开发(PHP)</h4>
				<h5>项目分类：<span>联想</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/yijian.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/web.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/interface.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/xiaochegnxu.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/yijian.png'}">
				<h4>培训班报名小程序</h4>
				<h5>项目分类：<span>项目</span><span>微信应用</span><span>公众号</span></h5>
				<h5>技能要求：<span>Java、</span><span>JavaScript、</span><span>HTML、</span><span>CSS、</span></h5>
				<div>
					<span class="eyes"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
		</section>
		<!--项目众包结束-->
		<!-- 众创课堂开始 -->
		<section class="classes-teams">
			<h3>众创课堂<small>梦工厂，砺锋众创课堂</small></h3>
			<article class="prjt-carousel prjt-item">
				<h2>前沿技术</h2>
				<canvas width="280" height="260" id="class-myCanvas" style="max-width: 280px;max-height: 260px"></canvas>
				<div id="class-tags">
					<a href="http://www.baidu.com">H5</a>
					<a href="#">SpringBoot</a><a href="#">SpringCloud</a><a href="#">Spring5.0</a><a href="#">Mybatis</a>
					<a href="#">Hibernate</a><a href="#">Java</a><a href="#">JavaWeb</a><a href="#">Phyton</a><a href="#">区块链</a>
				</div>
				<div class="prjt-more">查看更多&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class1.jpg'}">
				<h4 title="Java高并发之魂：synchronized的深度解析">Java高并发</h4>
				<h5>课堂归类：<span>Java</span><span>高并发</span></h5>
				<h5>Java高并发之魂：synchronized的深度解析</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class2.jpg'}">
				<h4 title="深度学习之目标检测常用算法原理+实践精讲">深度学习之目标检测常用算法原理+实践精讲</h4>
				<h5>课堂归类：<span>算法</span></h5>
				<h5>深度学习之目标检测常用算法原理+实践精讲</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class3.jpg'}">
				<h4>Android性能分析与优化</h4>
				<h5>课堂归类：<span>Android</span></h5>
				<h5>Top团队大牛带你玩转Android性能分析与优化</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class4.jpg'}">
				<h4 title="SpringBoot构建电商基础秒杀项目">SpringBoot构建电商基础秒杀项目</h4>
				<h5>项目分类：<span>SpringBoot</span></h5>
				<h5>SpringBoot构建电商基础秒杀项目</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class5.jpg'}">
				<h4>剑指Java面试-Offer直通车</h4>
				<h5>课堂归类：<span>Java</span><span>面试</span></h5>
				<h5>剑指Java面试-Offer直通车</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class6.jpg'}">
				<h4 title="React16 组件化">React16 组件化</h4>
				<h5>课堂归类：<span>React</span></h5>
				<h5>React16 组件化+测试+全流程 实战在线账本项目</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
			<article class="prjt-item">
				<img th:src="@{'common/images/class7.jpg'}">
				<h4>掌握Taro多端框架 快速上手小程序/H5开发</h4>
				<h5>项目分类：<span>H5</span><span>Taro</span></h5>
				<h5>掌握Taro多端框架 快速上手小程序/H5开发</h5>
				<div>
					<span class="eyes"><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;165</span>
					<span>|</span>
					<span class="messages"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;20</span>
				</div>
			</article>
		</section>
		<!-- 众创课堂结束 -->
		<!-- 众创工具开始 -->
		<section class="tool-teams">
		     <h3>众创工具<small>团队协作利器</small></h3>
		     <!-- 社区版 -->
		     <article class="tool-community">
		             <h2 class="tool-title">社区版</h2>
		             <img alt=""  th:src="@{'common/images/tool.png'}">
		             <h4>[ 众创指南 ]</h4>
		             <div class="tool-content">社区版「共创六力」指南提供多种浅白易懂的方法，帮助你掌握沟通力、创造力、感知和洞察力、场域构建力、组织力、问题解决力，以及初步学习协作的方法和机制，以及体察共同协作者的状态和习惯。</div>
		             <div class="tool-btn">
		                  <span>体验团队协作</span>
		             </div>
		     </article>
		     <!-- 入门版 -->
		     <article class="tool-primary">
		            <h2 class="tool-title">入门版</h2>
		             <img alt=""  th:src="@{'common/images/tool.png'}">
		             <h4>[ 众创指南 ]</h4>
		             <div class="tool-content">入门版「共创六力」指南提供多种浅白易懂的方法，帮助你掌握沟通力、创造力、感知和洞察力、场域构建力、组织力、问题解决力，以及初步学习协作的方法和机制，以及体察共同协作者的状态和习惯。</div>
		             <div class="tool-btn">
		                  <span>开启团队协作</span>
		             </div>
		     </article>
		     <!-- 企业版 -->
		     <article class="tool-enterprise">
		           <h2 class="tool-title">豪华版</h2>
		             <img alt=""  th:src="@{'common/images/tool.png'}">
		             <h4>[ 众创指南 ]</h4>
		             <div class="tool-content">豪华版「共创六力」指南提供多种浅白易懂的方法，帮助你掌握沟通力、创造力、感知和洞察力、场域构建力、组织力、问题解决力，以及初步学习协作的方法和机制，以及体察共同协作者的状态和习惯。</div>
		             <div class="tool-btn">
		                  <span>享受团队协作</span>
		             </div>
		     </article>
		</section>
		<!-- 众创工具结束 -->
		<!-- 日志信息流展示开始 -->
		<section class="show-logs">
			<h3>众创日志<small>日志展示</small></h3>
			<article>
			
			</article>
		</section>
		<!--  日志信息流展示结束-->
		<!--主体内容结束-->
	</body>
	<!--公共部分 脚本引入-->
	<div th:replace="front/common/_meta-script :: html"></div>
	<script type="text/javascript" th:src="@{'common/js/tagcanvas.min.js'}"></script>
	<script type="text/javascript" th:src="@{'common/js/jquery.bxslider.min.js'}"></script>
	<script type="text/javascript" th:src="@{'common/js/front/home.js'}"></script>
	
</html>
