<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.seehope.college.mapper.UserInfoMapper">
    <!--保存用户详情-->
    <insert id="saveUserDetail" parameterType="net.seehope.college.entity.UserInfo">
        insert into t_userinfo (info_id, create_time, update_time,  wechat, sex, qq_num, phone)
        values (#{id}, #{create_time}, #{update_time}, #{wechat}, #{sex}, #{qq_num}, #{phone})
    </insert>
</mapper>